[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
google-api-python-client = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.8"
